@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&family=Poppins:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: font-family: 'Poppins', sans-serif;;
}

header{
    margin-top: 47px;
    margin-left: 42px;
}
.header-linck{
   font-weight: 400;
   font-size: 14px;
   line-height: 21px;
   text-align: center;
   letter-spacing:0.875px;
   color :#17233D;
   margin-right: 32px;
    
}
.header-button{
    background: #6FBF44;
    border: 1px solid #4CB538;
    border-radius:6px;
    Width:124px;
    Height:51px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing:1px;
    color:#ffffff;

}
img{
    margin:163px 0 0 121px;
    display: inline-block;
    width: 493px;

}
div{
    display: inline-block;
    margin-left: 84px;
    width: 493pxs;
}

h1{
    font-weight: 700;
    font-size:62px;
    line-height: 82px;
    letter-spacing:0.596154px;
    color: #161a49;
}
p{
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4b505a;
    width: 493px;
    margin-top: 47px;
    margin-bottom: 55px;
}
.linck-learn-more{
    font-weight: 500;
    Font-size: 18px;
    line-height:27px;
    Letter-spacing: 1px;
    color:#6FBF44;
}
@media screen and (max-width: 390px){

    *{
        max-width: 390px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: font-family: 'Poppins', sans-serif;;
    }
    
    .header-linck{
           display: none;
    }
    .header-button{
        background: #6FBF44;
        border: 1px solid #4CB538;
        border-radius:6px;
        Width:124px;
        Height:51px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing:1px;
        color:#ffffff;
        margin-left: 450px;
    }
    h1{
        position: absolute;
        width: 278px;
        height: 60px;
        font-weight: 700;
        font-size:30px;
        line-height: 30px;
        text-align: center;
        letter-spacing:0.596154px;
        color: #161a49;
        top:150px;
        margin-left: 130px;
    }
    p{
        position: absolute;
        height: 165px;
        font-weight: 400;
        font-size: 18px;
        line-height: 33px;
        text-align: center;
        letter-spacing: 0.5px;
        color: #4b505a;
        width: 493px;
        margin-top: 29px;
        margin-bottom: 55px;
        top:213px;
        width: 300px;
        margin-left: 110px;
    }
    .linck-learn-more{
        position: absolute;
        width: 1120px;
        height: 27px;
        font-weight: 500;
        Font-size: 18px;
        line-height:27px;
        Letter-spacing: 1px;
        color:#6FBF44; 
        margin-left: 190px;
        top: 400px;
    }
    
    img{
        position: fixed;
        top: 400px;
    }
  

}